// Imported files
@import 'css/assets/colors';

// diagramation
$gutter: 16px;

// local variables
$selectHSize: 60px;
$trashCanSize: 40px;


* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  color: $black;
}

/* css style sheet */
body {
  font-family: Verdana, Arial, sans-serif;
  font-size: 1.6rem;
  margin:  0;

  .divClass {
    height: 75px;
    width: 75px;
    background-color: $green;
    display: block;
    font-size: 20px;
    color: $white;
  }

  input {
    font-size: 1.6rem;
  }

  nav,
  section,
  article {
    margin: ($gutter/4);
    padding: ($gutter/4);
    background-color: $seashell;
  }

  /* Header and Footer
  ------------------------------*/
  header,
  footer {
    background-color: $seashell;
    color: $white;
    padding: ($gutter) 0;
    margin:  0;
  }

  header {
    font-size: 2.6rem;
    color: $tundora;
    text-align: center;
  }

  nav ul {
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
      margin: ($gutter/4);
    }
  }

  footer {
    text-align: center;

    > p {
      font-size: 16px;
      color: $boulder;
      pointer-events: none;
    }
  }

  /* Body
  -----------------------------------*/
  .contentWrapper {
    width: auto;
    position: relative;
    display: block;
    background-color: $white;
    font-size: 0;
  }

  .contentSpotWrapper,
  .formSpot {
    display: inline-block;
    position: relative;
    background-color: $white;
    border: 1px solid $mercury;
    margin:  0;
    padding: ($gutter/2);
    vertical-align: top;
  }

  .contentSpotWrapper {
    width: 100%;
    max-width: calc(70% - (#{$gutter/2}));

    float: none;
    height: auto;
    overflow: hidden;
    text-align:Center;
    margin-left: ($gutter/4);

    .contentSpot {
      width: 100%;
      height: 100%;

      p {
        color: $tundora;
        text-align: justify;
        margin: 0;
        padding: ($gutter);
      }

      img {
        min-width: 100%;
        position: absolute;
      }

      div[class^="textBlockWrapper-"] {
        font-size: 16px;
        position: relative;

        &:hover div[class*="trashcan-"] {
          display: inline-block;
          padding: ($gutter/2);
          margin: 0;
          vertical-align: middle;
          cursor: pointer;
          font-weight: bold;
          text-align: center;
        }

        &:nth-child(odd) {
          background-color: $gallery;
        }

        &:nth-child(even) {
          background-color: $mercury;
        }

        div[class*="trashcan-"] {
          width: $trashCanSize;
          height: $trashCanSize;
          content: " ";
          display: none;
          position: absolute;
          padding: ($gutter/2);
          top: 0;
          right: 0;
          bottom: auto;
          left: auto;
          background-color: transparent;
          border: none;
          font-size: 0;
          transition: transform 300ms ease-in-out;

          &:hover {
            transform: scale(1.2);
          }

          &:before {
            content: "\2716";
            width: ($trashCanSize/2);
            height: ($trashCanSize/2);
            display: inline-block;
            position: relative;
            text-align: center;
            color: $seashell;
            background-color: $casal;
            border: none;
            font-size: 16px;
          }
        }

        .arrayKlass-title {
          color: $casal;
          text-transform: uppercase;
        }
      }
    }
  }

  .formSpot {
    width: 100%;
    max-width: calc(30% - (#{$gutter/2}));
    float: none;
    margin-right: ($gutter/4);

    .selectForm {
      .mainForm1 {
        text-align: left;
      }

      #mainForm1 > input {
        width: calc(50% - (#{$gutter/4}));
        min-height: 50px;
        border: none;
        background: $mercury;
        color: $tundora;
        font-weight: bold;
        letter-spacing: 1px;
        transition: 300ms;

        &:nth-child(even) {
          margin-left: 0;
          background: $japaneseLaurel;
          color: $seashell;
        }

        &:nth-child(even):hover {
          margin-left: 0;
          background: #22a900;
          color: $seashell;
        }

        &:nth-child(odd) {
          margin-right: 0;
          background: $lightcoral;
          color: $white;
        }

        &:nth-child(odd):hover {
          background: $coral;
          color: $white;
        }
      }
    }

    form select {
      width: 100%;
      display: block;
      height: $selectHSize;
      padding: ($gutter/2);
      margin: ($gutter) auto;
      font-size: 1.4rem;
      line-height: $selectHSize;
    }
  }

  .resetFloat {
    clear: both;
  }

  .outputClass {
    position: relative;
    display: block;
    width: 100%;
  }

  input[type="button"],
  input[type="reset"] {
    margin: ($gutter/4);
  }

  .line-treated {
    color: $seashell;
    display: inline;
  }

  .inline {
    display: inline;
    padding: 0 ($gutter/4) 0 0;
  }

  .strong {
    font-weight: bold;
  }

  .italic {
    font-style: italic;
  }

  .underline {
    text-decoration: underline;
  }

  .break {
    display: block;
    padding: 0 ($gutter/4) 0 0;
  }

  .inline + .break {
    display: inline;
  }
}

@media only screen and (min-width: 768px) {
  .contentSpotWrapper {
    .contentSpot {
      div[class^="textBlockWrapper-"]:hover {
        div[class*="trashcan-"] {
          display: inline-block;
          vertical-align: middle;
          margin: 0;
          cursor: pointer;
          font-weight: bold;
          text-align: center;
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  body {
    .contentSpotWrapper,
    .formSpot {
      width: 100%;
      padding: 0;
      margin: ($gutter/2) 0;
      display: block;
      position: relative;
      background-color: $lightyellow;
    }

    .formSpot .selectForm {
      padding: ($gutter);
      margin: ($gutter/4);
    }

    .pageTitle {
      font-size: 2.8rem;
      font-weight: 700;
      color: $crimson;
      text-align: center;

      padding: ($gutter/4) 0;
      margin: ($gutter/4) auto;
      display: block;
      position: relative;
    }

    #mainForm1 {
      height: auto;
      width: 100%;
      position: relative;
    }

    input[type="button"],
    input[type="reset"],
    button[type="print"] {
      width: 100%;
      min-height: 50px;
      border: none;
      box-shadow: none;

      margin: ($gutter/2) 0;
    }

    input[type="button"] {
      background-color: $lightgreen;
    }

    input[type="reset"] {
      background-color: transparent;
      border: 1px solid $lightgreen;
      color: $lightgreen;
    }

    .printDocument {
      background-color: $lightgreen;
    }

    .contentSpotWrapper .contentSpot {
      font-size: 1.6rem;

      div[class^="textBlockWrapper-"] {
        &:hover div[class*="trashcan-"] {
          display: inline-block;
          font-size: 18px;
          color: $white;
          font-size: 0;
        }

        div[class*="trashcan-"] {
          display: inline-block;
          font-size: 18px;
          color: $white;
          font-size: 0;

          &:before {
            font-size: 18px;
          }
        }
      }
    }
  }
}

@media print and (max-width: 768px) {
  header,
  footer,
  aside,
  nav,
  form,
  iframe,
  .menu,
  .hero,
  .adslot,
  .formSpot {
    display: none;
  }

  html,
  body,
  p {
    font-size: 14pt;
    font-family: 'Times New Roman', Times, Georgia, Palatino;
  }

  body {
    margin: 0;
    padding: 0;
    overflow: hidden;

    .contentSpotWrapper {
      display: block;
      min-width: 100%;
      width: 100%;
      background-color: transparent;
      border: none;
      margin-top: -128px;
      margin: 0;

      div[class^="textBlockWrapper-"] {
        page-break-after: auto;
        break-after: always;
        page-break-inside: auto;
        break-inside: auto;

        div[class*="trashcan-"] {
          display: inline-block;
          font-size: 20px;
          color: $white;
        }

        button[type="print"] {
          background-color: $lightgreen;
        }
      }
    }
  }
}