/**
*
* Mixins and helpers
*
*/
/* Parametric mixin to add background sprite */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  vertical-align: baseline; }

body {
  line-height: 1;
  color: #000;
  background: #fff; }

ol,
ul {
  list-style: none; }

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: separate;
  border-spacing: 0; }

caption,
th,
td {
  text-align: left;
  font-weight: normal; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ""; }

blockquote,
q {
  quotes: "" ""; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

@media print and (max-width: 768px) {
  header,
  footer,
  aside,
  nav,
  form,
  iframe,
  .menu,
  .hero,
  .adslot,
  .formSpot {
    display: none; }
  html,
  body,
  p {
    font-size: 14pt;
    font-family: 'Times New Roman', Times, Georgia, Palatino; }
  body {
    margin: 0;
    padding: 0;
    overflow: hidden; }
    body .contentSpotWrapper {
      display: block;
      min-width: 100%;
      width: 100%;
      background-color: transparent;
      border: none;
      margin-top: -128px;
      margin: 0; }
      body .contentSpotWrapper div[class^="textBlockWrapper-"] {
        page-break-after: auto;
        -webkit-column-break-after: always;
           -moz-column-break-after: always;
                break-after: always;
        page-break-inside: auto;
        -webkit-column-break-inside: auto;
           -moz-column-break-inside: auto;
                break-inside: auto; }
        body .contentSpotWrapper div[class^="textBlockWrapper-"] div[class*="trashcan-"] {
          display: inline-block;
          font-size: 20px;
          color: white; }
        body .contentSpotWrapper div[class^="textBlockWrapper-"] button[type="print"] {
          background-color: lightgreen; } }

@media print and (min-width: 768px) {
  body {
    background-color: red; } }
