// Colors
$white: white;
$green: green;
$seashell: #F1F1F1;
$tundora: #454545;
$boulder: #797979;
$gallery: #efefef;
$mercury: #e8e8e8;
$japaneseLaurel: #227900;
$coral: coral;
$lightcoral: lightcoral;
$cadetBlue: #A5B6C7;
$shuttleGray: #5A6B7C;
$redBeech: #773300;
$lightyellow: lightyellow;
$crimson: crimson;
$lightgreen: lightgreen;

// Actual colors
$casal: #265868;
