:root {
  --gutter: 16px;
}

/* css style sheet */
body {
  font-family: Arial, Verdana, sans-serif;
  font-size: 62.5%;
  margin:  0;
}

.divClass {
  height: 75px;
  width: 75px;
  background-color: green;
  display: block;
  font-size:20px;
  color:white;
}
input {
  font-size: 1.6rem;
}

nav, section, article {
  margin: 5px;
  padding: 5px;
  background-color: #F1F1F1;
}


/* Header and Footer
------------------------------*/

header, footer {
  background-color: #F1F1F1;
  color: white;
  padding: 16px 0;
  margin:  0;
}

header {
  font-size: 2.6rem;
  color: #454545;
  text-align: center;
}


nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin: 5px;
}

/* Body
-----------------------------------*/

.contentWrapper {
  width: auto;
  position: relative;
  display: block;
  background-color: #FFF;
}

.contentSpotWrapper,
.formSpot {
  width:40%;
  min-height: 300px;
  display: inline-block;
  position: relative;
  background-color: #efefef;
  border: 2px solid #e8e8e8;
  margin: 0;
  padding: 8px;
}

.contentSpotWrapper {
  float:right;
  height: auto;
  overflow: hidden;
  text-align:Center;
}

.contentSpotWrapper .contentSpot {
  width: 100%;
  height: 100%;
}

.contentSpotWrapper .contentSpot p {
  color: white;
  margin: 0;
  padding: var(--gutter);
}

.contentSpotWrapper .contentSpot img {
  min-width: 100%;
  position: absolute;
}

div[class^="textBlockWrapper-"] {
  position: relative;
}

div[class^="textBlockWrapper-"] div[class*="trashcan-"] {
  min-height: 20px;
  min-width: 20px;
  content: " ";
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #a5b6c7;
  border: 2px solid #5a6b7c;
  font-size: 16px;
}

.contentSpotWrapper .contentSpot div[class^="textBlockWrapper-"]:hover div[class*="trashcan-"] {
  display: inline-block;
  padding: 8px;
  vertical-align: middle;
  margin: 0;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
}

.formSpot { float:left; }
.resetFloat {
  clear: both;
}
.formSpot form select {
  width: 100%;
  display: block;
  min-height: 60px;
  padding: 8px;
  margin: 16px 0;
  font-size: 1.4rem;
}

.outputClass {
  position: relative;
  display: block;
  width: 100%;
}

div[class^="textBlockWrapper-"]:nth-child(odd) {
  background-color: #007733;
}

div[class^="textBlockWrapper-"]:nth-child(even) {
  background-color: #773300;
}

@media only screen and (max-width: 768px) {
  body .contentSpotWrapper,
  body .formSpot {
    width: 100%;
    padding: 0;
    margin: 8px 0;
    display: block;
    position: relative;
    background-color: lightyellow;
  }
  
  .formSpot .selectForm {
    padding: 16px;
    margin: 4px;
  }
  
  body .pageTitle {
    font-size: 2.8rem;
    font-weight: 700;
    color: #E5255E;
    text-align: center;
    
    padding: 4px 0;
    margin: 4px auto;
    display: block;
    position: relative;
  }
  
  body .contentSpot p {
    font-size: 1.6rem;
  }
  
  #mainForm1 {
    height: auto;
    width: 100%;
    position: relative;
  }
  
  input[type="button"],
  input[type="reset"] {
    width: 100%;
    min-height: 50px; 
    border: none;
    box-shadow: none;
    
    margin: 8px 0;
  }
  
  input[type="button"] {
    background-color: lightgreen;
  }
  
  input[type="reset"] {
    background-color: transparent;
    border: 1px solid lightgreen;
    color: lightgreen;
  }
  
  .contentSpotWrapper .contentSpot div[class^="textBlockWrapper-"] div[class*="trashcan-"] {
    display: inline-block;
    font-size: 20px;
    color: white;
  }
}