// local variables
$selectHSize: 60px;
$trashCanSize: $iconSize;

// ALL DEVICES
// ______________________________________________________________

* {
    box-sizing: border-box;
}

html {
    color: $black;
}

/* css style sheet */
body {
    @include font-size(1);

    font-family: Verdana, Arial, sans-serif;
    line-height: 1.2;


    &.is-loading {
        overflow: hidden;

        &:before {
            @include pseudo();

            height: $iconSize;
            width: $iconSize;

            display: inline-block;
            position: fixed;
            top: 50%;
            right: auto;
            bottom: auto;
            left: 50%;

            border: 2px solid $seashell;
            border-radius: 50%;
            border-top: 2px solid $japaneseLaurel;

            animation: loadSpinnerAbsolute 1s infinite;
            -webkit-animation: loadSpinnerAbsolute 1s infinite;

            transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);

            z-index: 10;

        }

        &:after {
            @include pseudo();

            width: 100%;
            height: 100%;

            display: block;
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;

            background-color: $black;

            opacity: 0.5;
        }
    }

    .upload-image-input {
        @include invisibleButInteractible();
    }

    strong,
    b {
        font-weight: bold;
    }

    em,
    i {
        font-style: italic;
    }

    u {
        font-style: normal;
        text-decoration: underline;
    }

    .divClass {
        background-color: $green;
    }

    input {
        @include font-size(1);
    }

    nav,
    section,
    article {
        background-color: $seashell;
    }

    /* Footer
    ------------------------------*/
    footer {
        text-align: center;

        > p {
            @include font-size(1);

            color: $boulder;
            pointer-events: none;
        }
    }

    /* Body
    -----------------------------------*/
    .subTitle {
        display: block;

        font-weight: bold;
        color: $casal;

        &.inline {
            display: inline-block;
            vertical-align: baseline;
        }
    }

    .highlighted {
        color: $casal;

        &.followingTitle {
            @include font-size(1.2);

            display: inline-block;
            vertical-align: baseline;
            padding-left: ($gutter/2);

            line-height: 1.4;
        }

        &.is-bold {
            font-weight: bold;
            color: $black;
        }
    }

    .booksImageCover,
    .reportImage {
        display: block;
        position: relative;

        .booksImageCoverImg,
        .reportImageImg {
            width: auto;
            height: auto;
            max-width: 100%;
            max-height: 100%;

            display: block;
            position: relative;
        }
    }

    .fixedContentSpot {
        .title {
            @include font-size(1.4);

            display: block;
            position: relative;
            margin: 0 auto;
            padding: 0 0 ($gutter/2);

            font-weight: bold;
            line-height: 2;
            color: $casal;

            &.small {
                @include font-size(1.2);

                display: block;
                position: relative;
                margin: 0 auto;
                padding: 0 0 ($gutter/2);

                font-weight: normal;
            }
        }

        .subTitle {
            @include font-size(1.2);

            line-height: 1.4;

            &.inline {
                &+ .content {
                    display: inline-block;
                    vertical-align: baseline;
                }
            }
        }

        .content {
            display: block;
            position: relative;
            margin: 0 auto;
            padding: ($gutter/2) 0 ($gutter*2);
        }
    }

    .relatorioPersonalizado {
        display: block;
        position: relative;
        margin: 0 auto;
        padding: ($gutter) 0;

        text-align: center;

        .reportSummary {
            display: block;
            position:  relative;
            margin: 0 auto;
            padding: 0 0 ($gutter);

            text-align: left;
        }
    }

    // Activate this to get things hidden
    // .booksImageCover,
    // .fixedContentSpot,
    // .relatorioPersonalizado {
    //     @include invisibleButInteractible()
    // }

    .contentWrapper {
        background-color: $white;
    }

    .contentSpotWrapper,
    .formSpot {
        background-color: $white;
    }

    .contentSpotWrapper {
        text-align: left;

        .card-header {
            position: relative;

            .btn.btn-link {
                @include font-size(1.6);

                width: 100%;

                font-weight: bold;
                color: $casal;

                &:hover {
                    color: darken($casal, 5%);

                    text-decoration: none;
                }

                &:visited,
                &:focus,
                &:active {
                    text-decoration: none;
                }

                &:hover {
                    text-decoration: none;
                }
            }

            .trashcan {
                position: absolute;
                top: 50%;
                left: auto;
                right: $gutter;

                transform: translateY(-50%);
                -webkit-transform: translateY(-50%);
                -moz-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                -o-transform: translateY(-50%);

                transition: transform 300ms ease-in-out;
                -webkit-transition: transform 300ms ease-in-out;
                -moz-transition: transform 300ms ease-in-out;
                -ms-transition: transform 300ms ease-in-out;
                -o-transition: transform 300ms ease-in-out;

                cursor: pointer;

                &:hover {
                    transform: scale(1.1) translateY(-50%);
                    -webkit-transform: scale(1.1) translateY(-50%);
                    -moz-transform: scale(1.1) translateY(-50%);
                    -ms-transform: scale(1.1) translateY(-50%);
                    -o-transform: scale(1.1) translateY(-50%);
                }
            }
        }

        .contentSpot {
            p {
                @include font-size(1);

                color: $tundora;
                text-align: justify;
            }

            img {
                min-width: 100%;
                position: absolute;
            }

            div[class^="textBlockWrapper-"] {
                @include font-size(1.4);

                position: relative;

                .default-text-title {
                    display: block;
                    position: relative;
                }

                .title {
                    font-weight: bold;
                }

                .arrayKlass-title,
                .arrayKlass-title-secondary,
                .title {
                    @include font-size(1.4);

                    margin-top: $gutter;
                    margin-bottom: $gutter;

                    color: $casal;
                    text-transform: uppercase;
                    font-weight: bold;
                }
            }

            .arrayKlassNodos {
                padding-bottom: ($gutter);

                .title {
                    display: block;
                }
            }
        }

        .card.card-0 {
            border-bottom: 1px solid $gray;
        }
    }

    .formSpot {
        .selectForm {
            .mainForm1 {
                text-align: left;
            }
        }
    }
}


// MOBILE DEVICES
// ______________________________________________________________

@media (max-width: $tabl-bk) {}


// DESKTOP DEVICES
// ______________________________________________________________

@media (min-width: $tabl-bk) {
    .contentSpotWrapper {
        .contentSpot {
            div[class^="textBlockWrapper-"]:hover {
                div[class*="trashcan-"] {
                    display: inline-block;
                    vertical-align: middle;
                    margin: 0;
                    cursor: pointer;
                    font-weight: bold;
                    text-align: center;
                }
            }
        }
    }
}



// ANIMATION
// __________________________
@-webkit-keyframes loadSpinnerAbsolute {
    0% {
        transform: translate(-50%, -50%) rotate(0);
        -webkit-transform: translate(-50%, -50%) rotate(0);
        -moz-transform: translate(-50%, -50%) rotate(0);
        -ms-transform: translate(-50%, -50%) rotate(0);
        -o-transform: translate(-50%, -50%) rotate(0);
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg);
        -webkit-transform: translate(-50%, -50%) rotate(360deg);
        -moz-transform: translate(-50%, -50%) rotate(360deg);
        -ms-transform: translate(-50%, -50%) rotate(360deg);
        -o-transform: translate(-50%, -50%) rotate(360deg);
    }
}
@-moz-keyframes loadSpinnerAbsolute {
    0% {
        transform: translate(-50%, -50%) rotate(0);
        -webkit-transform: translate(-50%, -50%) rotate(0);
        -moz-transform: translate(-50%, -50%) rotate(0);
        -ms-transform: translate(-50%, -50%) rotate(0);
        -o-transform: translate(-50%, -50%) rotate(0);
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg);
        -webkit-transform: translate(-50%, -50%) rotate(360deg);
        -moz-transform: translate(-50%, -50%) rotate(360deg);
        -ms-transform: translate(-50%, -50%) rotate(360deg);
        -o-transform: translate(-50%, -50%) rotate(360deg);
    }
}
@-o-keyframes loadSpinnerAbsolute {
    0% {
        transform: translate(-50%, -50%) rotate(0);
        -webkit-transform: translate(-50%, -50%) rotate(0);
        -moz-transform: translate(-50%, -50%) rotate(0);
        -ms-transform: translate(-50%, -50%) rotate(0);
        -o-transform: translate(-50%, -50%) rotate(0);
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg);
        -webkit-transform: translate(-50%, -50%) rotate(360deg);
        -moz-transform: translate(-50%, -50%) rotate(360deg);
        -ms-transform: translate(-50%, -50%) rotate(360deg);
        -o-transform: translate(-50%, -50%) rotate(360deg);
    }
}
@keyframes loadSpinnerAbsolute {
    0% {
        transform: translate(-50%, -50%) rotate(0);
        -webkit-transform: translate(-50%, -50%) rotate(0);
        -moz-transform: translate(-50%, -50%) rotate(0);
        -ms-transform: translate(-50%, -50%) rotate(0);
        -o-transform: translate(-50%, -50%) rotate(0);
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg);
        -webkit-transform: translate(-50%, -50%) rotate(360deg);
        -moz-transform: translate(-50%, -50%) rotate(360deg);
        -ms-transform: translate(-50%, -50%) rotate(360deg);
        -o-transform: translate(-50%, -50%) rotate(360deg);
    }
}