@media print and (min-width: 768px) {
    header,
    footer,
    aside,
    nav,
    form,
    iframe,
    .menu,
    .hero,
    .adslot,
    .formSpot {
        display: none;
    }

    html,
    body,
    p {
        font-size: 14pt;
        font-family: 'Times New Roman', Times, Georgia, Palatino;
    }

    body {
        margin: 0;
        padding: 0;
        overflow: hidden;

        &.is-loading {
            background-color: $white;

            z-index: -1;

            &:before,
            &:after {
                border: none;

                z-index:  -2;
            }
        }

        .formSpot {
            display: none;
        }

        .jumbotron {
            display: none;
        }

        .card {
            border: none;
            background-color: transparent;

            &-header {
                display: none;
            }
        }

        #contentSpotWrapper {
            width: 100%;
            min-width: 100%;

            display: block;
            margin: 0 auto;
            padding: 0;

            background-color: transparent;
            border: none;

            div[class^="textBlockWrapper-"] {
                page-break-after: auto;
                break-after: always;
                page-break-inside: auto;
                break-inside: auto;

                div[class*="trashcan-"] {
                    display: inline-block;
                    font-size: 20px;
                    color: $white;
                }

                button[type="print"] {
                    background-color: $lightgreen;
                }
            }
        }
    }
}

@media print and (max-width: 768px) {
    body {
        background-color: red;
    }
}