/**
*
* Mixins and helpers
*
*/

//  =======================
//  ::: Sass mixins ::::
// ========================

//
//  CSS animations - transitions
//  _____________________________________________

@mixin transition ($time: 0.2s) {
    -webkit-transition: all $time ease-out;
    -moz-transition: all $time ease-out;
    -ms-transition: all $time ease-out;
    -o-transition: all $time ease-out;
    transition: all $time ease-out;
}

/* Parametric mixin to add background sprite */

@mixin bg-sprite ($position: 0 0) {
    background-image: url('../images/sprite.png');
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: $position;
}

@mixin font-size($sizeValue) {
    $remValue: $sizeValue;
    $pxValue: ($sizeValue * 10);

    font-size: #{$pxValue}px;
    font-size: #{$remValue}rem;
}

@mixin invisibleButInteractible() {
    width: 0;
    height: 0;

    display: inline-block;
    position: absolute;
    margin: 0 auto;
    padding: 0;
    top: auto;
    right: 100%;
    bottom: 100%;
    left: auto;

    opacity: 0;
    visibility: hidden;

    font-size: 0;
}

@mixin visibleAndInteractible() {
    @include font-size(1.4);

    width: auto !important;
    height: auto !important;

    display: block !important;
    position: relative !important;
    margin: 0 auto !important;
    padding: 0 0 ($gutter) !important;
    top: auto !important;
    right: auto !important;
    bottom: auto !important;
    left: auto !important;

    opacity: 1 !important;
    visibility: visible !important;
}

//
//  some utils classes
//  _____________________________________________

@mixin pseudo {
    content: " ";
    font-size: 0;
    display: block;
}

@mixin clear {
    &::before,
    &::after {
        @include pseudo;

        clear: both;
    }
}

//
//  Image helper
//  _____________________________________________

@mixin img-cropWrapper {
    position: relative;
    overflow: hidden;
    line-height: 0;
    font-size: 0;
    padding-top: 10%;

    > img {
        top: -150%;
        bottom: -150%;
        left: -150%;
        right: -150%;
        position: absolute;
        margin: auto;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        max-width: none;
        max-height: none;
    }
}

@mixin imgc {
    @include img-cropWrapper();
}

@mixin imgcI {
    top: -150%;
    bottom: -150%;
    left: -150%;
    right: -150%;
    position: absolute;
    margin: auto;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    max-width: none;
    max-height: none;
}

@mixin img-no-crop {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;

    margin: 0 auto;
    padding: 0;

    display: block;
    position: relative;
}

@mixin pseudo($content: ' ') {
    content: $content;
    display: block;
}

@mixin f-ico($fontFamily: Arial) {
    font-family: $fontFamily;
}

@mixin icon($icon: " ", $fontSize: 1.4) {
    @include f-ico();

    @include font-size($fontSize);

    content: $icon;
    color: $tundora;
}