//  kit variables
// ______________________________________________________________
$gutter: 16px;
$iconSize: 40px;

// breakpoints, mobilefirst
// ______________________________________________________________

$mob-sm: 390px;// under 390px
$tabl-bk: 800px; // normal tablet
$desk-bk: 1280px; // normal desk
$desk-sm-bk: 1440px;
$desk-hg-bk: 1620px; // desktop huge
$desk-in-bk: 1940px; // insane desktop

// Print variables
// ______________________________________________________________

$AFourWSize: 21cm;
$AFourHSize: 29.7cm;